.App {
  background-color: #1e81b0;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentDiv {
  width: 800px;
  height: 500px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.fileUpload {
  display: none;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}